<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8"/>
    <title>Omsorgsdager - {{felles.søknadstypeTittel}}</title>
    <meta name="subject" content="Omsorgsdager - {{felles.søknadstypeTittel}}"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="Omsorgsdager - {{felles.søknadstypeTittel}} {{felles.søknadMottattDag}} {{ felles.søknadMottatt }}"/>
    <bookmarks>
        <bookmark name="Søker" href="#søker"/>
        <bookmark name="Din situasjon" href="#din_situasjon"/>
        <bookmark name="Dine barn" href="#dine_barn"/>
        <bookmark name="Mottaker av omsorgsdagene" href="#mottaker"/>
        {{#if fordeling.ettersenderSamværsavtale}}
            <bookmark name="Samværsavtale" href="#samværsavtale"/>
        {{/if}}
        <bookmark name="Samtykke" href="#samtykke"/>
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
<h1 id="header">Omsorgsdager - {{felles.søknadstypeTittel}}</h1>
<div class="nokkelinfo">
    <p><strong>Sendt til NAV</strong> {{felles.søknadMottattDag}} {{ felles.søknadMottatt }}</p>
    <p><strong>Språk:</strong> {{hjelp.språk}}</p>
</div>
<div class="innholdscontainer">

    <div class="person" id="søker">
        <p class="navn">{{ felles.søker.navn }}</p>
        <p>{{ felles.søker.fødselsnummer }}</p>
        <br/>
    </div>

    <!-- DIN_SITUASJON-->
    <section id="din_situasjon">
        <h2>Din situasjon</h2>
        <p class="sporsmalstekst">Har du aleneomsorg for barn?</p>
        <p>{{ jaNeiSvar felles.situasjon.harAleneomsorg }}</p>
        <p class="sporsmalstekst">Har du utvidet rett med omsorgsdager?</p>
        <p>{{ jaNeiSvar felles.situasjon.harUtvidetRett }}</p>
        <p class="sporsmalstekst">Er du yrkesaktiv?</p>
        <p>{{ jaNeiSvar felles.situasjon.erYrkesaktiv }}</p>
        <p class="sporsmalstekst">Arbeider du i Norge?</p>
        <p>{{ jaNeiSvar felles.situasjon.arbeiderINorge }}</p>

        <p class="sporsmalstekst">Hva er din arbeidssituasjon?</p>
        <ul>
            {{# each felles.situasjon.arbeidssituasjon as |situasjon|~}}
                <li>{{situasjon.utskriftvennlig}}</li>
            {{/each}}
        </ul>

        {{#if felles.situasjon.antallDagerBruktIÅr}}
            <p class="sporsmalstekst">Hvor mange omsorgsdager har du brukt i år?</p>
            <p>{{felles.situasjon.antallDagerBruktIÅr}}</p>
        {{/if}}
    </section>

    <!-- BARN -->
    <section id="dine_barn">
        <h2>Dine barn</h2>
        {{#each felles.barn as | barn|~}}
            <ul>
                <li>
                    <p><b>{{barn.navn}} (født {{barn.fødselsdato}}, fødselsnummer {{barn.fnr}})</b></p>
                    {{#if barn.aleneOmOmsorgen}}
                        <p>Du er alene om omsorgen for dette barnet.</p>
                    {{/if}}
                    {{#if barn.utvidetRett}}
                        <p>Du har fått ekstra omsorgsdager fordi barnet har en kronisk sykdom eller
                            funksjonshemning.</p>
                    {{/if}}
                </li>
            </ul>
        {{/each}}
    </section>

    <!-- Mottaker -->
    <section id="mottaker">
        <h2>Mottaker av omsorgsdagene</h2>
        <p class="sporsmalstekst">Hva er navnet til mottaker?</p>
        <p>{{felles.mottaker.navn}}</p>
        <p class="sporsmalstekst">Hva er fødselsnummeret til {{felles.mottaker.navn}}?</p>
        <p>{{felles.mottaker.fnr}}</p>

        <!-- Koronaoverføring -->
        {{#if korona}}
            <p class="sporsmalstekst">Hvor mange omsorgsdager skal overføres til {{felles.mottaker.navn}}?</p>
            <p>{{korona.antallDagerSomSkalOverføres}}</p>
            <p class="sporsmalstekst">Hvilken stengingsperiode gjelder det for?</p>
            <p>{{korona.stengingsperiode.fraOgMed}} - {{korona.stengingsperiode.tilOgMed}}</p>
            <!-- Hvis det er 2021 så er det bare en gyldig periode og bruker velger ikke det selv. -->
        {{/if}}

        <!-- Omsorgsdageroveføring -->
        {{#if overføring}}
            <p class="sporsmalstekst">Hva er din relasjon til {{felles.mottaker.navn}}?</p>
            <p>{{overføring.mottakerType}}</p>

            <p class="sporsmalstekst">Hvor mange omsorgsdager skal overføres til {{felles.mottaker.navn}}?</p>
            <p>{{overføring.antallDagerSomSkalOverføres}}</p>
        {{/if}}

        <!-- Omsorgsdagerfordeling -->
        {{#if fordeling}}
            <p class="sporsmalstekst">Hva er din relasjon til {{felles.mottaker.navn}}?</p>
            <p>{{fordeling.mottakerType}}</p>

            <br/>
            <br/>
            <sectioln id ="samværsavtale">{{#if fordeling.ettersenderSamværsavtale}}
                <h2>Samværsavtale</h2>
                <p>Ingen vedlegg er lastet opp. Må ettersendes.</p>
            {{/if}}</sectioln>
        {{/if}}
    </section>

    <!-- SAMTYKKE -->
    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått dine rettigheter og plikter?</p>
        <p>{{ jaNeiSvar felles.samtykke.harForståttRettigheterOgPlikter }}</p>
        <hr/>
        <p class="sporsmalstekst">Har du bekreftet at opplysninger du har gitt er riktige?</p>
        <p>{{ jaNeiSvar felles.samtykke.harBekreftetOpplysninger }}</p>
    </section>

</div>

<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ felles.søknadId }}</span>
    <span class="soknadsid">{{ felles.id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>